<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!--  link for home button to point back to the app main page-->
    <%= link_to 'Planner App', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <!-- embedded ruby path to contact page using the link to method-->
          <%= link_to 'Contacts', contacts_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
        <!-- embedded ruby path to contact page using the link to method-->
        <%= link_to 'Add A Contact', new_contact_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <!-- embedded ruby path to todo list page using the link to method-->
          <%= link_to 'To Do List', todos_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <!-- embedded ruby path to add to to do list page using the link to method-->
          <%= link_to 'Add Task', new_todo_path, class:"nav-link" %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>