<p style="color: green"><%= notice %></p>

<%= render @contact %>

<div>
  <%= link_to "Edit this contact", edit_contact_path(@contact), class:"btn btn-dark" %>
  <%= link_to "Back to contacts", contacts_path, class:"btn btn-dark" %>

  <%= button_to "Destroy this contact", @contact, method: :delete, class:"btn btn-dark" %>
</div>
