<p style="color: green"><%= notice %></p>
<table class="table table-striped table-bordered">
  <thead class="table-dark">
  <tr>

    <th>Task</th>
    <th>Description</th>
    <th>Timeframe</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<tr>
  <td><%= @todo.task %></td>
  <td><%= @todo.description %></td>
  <td><%= @todo.timeframe %></td>
<td><%= button_to "Delete this task", @todo, method: :delete, class:"btn btn-dark" %> </td>


</table>
<div>
  <%= link_to "Edit this todo", edit_todo_path(@todo), class:"btn btn-dark" %>
  <%= link_to "Back to todos", todos_path, class:"btn btn-dark" %>


</div>
